* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Notable', sans-serif;
}
body{
    background-color: rgba(160, 133, 94, 0.897);
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #4F8C7B, #95BFB3);
    z-index: -1;
}

.hamburger {
    width: 4%;
    justify-self: end;
}

nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: black;
    align-items: center;
}

#logo {
    grid-column: 2/3;
    font-size: 24px;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.headline {
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 100px;
    transform: translate(-20%, -70%);
    color: rgb(187, 148, 104);
    z-index: 3;
    text-shadow: 3px 3px black;
    letter-spacing: 3px;
}
.hero {
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after{
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    top: 0;
}